- hosts: all
  name: Configure server
  user: vagrant
  become: yes
  become_method: sudo
  gather_facts: yes
  vars:
    ssh_users:
      - system_user: "centos"
        github_users:
          - joelbcastillo
          - g-zhou
          - johnyu95

    project_name: "{{ project_name }}"
    project_owner: "{{ project_owner }}"
    git_repo_url: "https://github.com/{{ project_owner }}/{{ project_name }}.git"
    git_repo_branch: "{{ project_version }}"
    cap_deployment: "{{ cap_deployment }}"
    solr_fqdn: "{{ solr_fqdn }}"
    solr_cores:
      - ident: "{{ project_name }}"
        type: "hyrax"
    tomcat_applications:
      - app_name: "fedora"
        shut_port: "8008"
        conn_port: "8080"
        rproxy_path: "fcrepo"
    mysql_databases:
      - name: "fedora"
        collation: "utf8_bin"
        encoding: "utf8"
        state: "present"
      - name: "{{ project_name }}"
        collation: "utf8_bin"
        encoding: "utf8"
        state: "present"
      - name: "{{ project_name }}-test"
        collation: "utf8_bin"
        encoding: "utf8"
        state: "present"
    mysql_users:
      - name: "{{ fcdb_user }}"
        host: "localhost"
        password: "{{ fcdb_password }}"
        priv: "fedora.*:ALL"
        state: "present"
      - name: "{{ samvera_db_user }}"
        host: "%"
        password: "{{ samvera_db_password }}"
        priv: "{{ project_name }}.*:ALL/{{ project_name }}-test.*:ALL"
        state: "present"
    fedora_db_user: "{{ fcdb_user }}"
    fedora_db_password: "{{ fcdb_password }}"
    fedora_db_host: "localhost"
    fedora_db_port: "3306"
    fedora_db_name: "fedora"
    fedora_admin_user: "{{ fc_admin_user }}"
    fedora_admin_password: "{{ fc_admin_password }}"
    fedora_server_fqdn: "localhost"
    ossec_server_config:
      mail_to:
        - support@notch8.com
        - appdev@records.nyc.gov
      mail_smtp_server: localhost
      mail_from: server@notch8.com
      frequency_check: 72000
      ignore_files:
        - /etc/mtab
        - /etc/mnttab
        - /etc/hosts.deny
      directories:
        - check_all: 'yes'
          dirs: /etc,/usr/bin,/usr/sbin
        - check_all: 'yes'
          dirs: /bin,/sbin
      localfiles:
        - format: 'syslog'
          location: '/var/log/messages'
        - format: 'syslog'
          location: '/var/log/secure'
      globals:
        - '127.0.0.1'
      connection: 'secure'
      log_level: 1
      email_level: 7
      commands:
        - name: 'host-deny'
          executable: 'host-deny.sh'
          expect: 'srcip'
          timeout_allowed: 'yes'
      active_responses:
        - command: 'host-deny'
          location: 'local'
          level: 6
          timeout: 600
    
    ossec_agent_configs:
      - type: os
        type_value: linux
        frequency_check: 79200
        ignore_files:
          - /etc/mtab
          - /etc/mnttab
          - /etc/hosts.deny
          - /etc/mail/statistics
          - /etc/svc/volatile
        directories:
          - check_all: yes
            dirs: /etc,/usr/bin,/usr/sbin
          - check_all: yes
            dirs: /bin,/sbin
        localfiles:
          - format: 'syslog'
            location: '/var/log/messages'
          - format: 'syslog'
            location: '/var/log/secure'
          - format: 'syslog'
            location: '/var/log/maillog'
          - format: 'apache'
            location: '/var/log/httpd/error_log'
          - format: 'apache'
            location: '/var/log/httpd/access_log'
          - format: 'apache'
            location: '/var/ossec/logs/active-responses.log'
    lynis_cron: yes
    lynis_version: 2.6.8
    lynis_version_sha256sum: 2e4c5157a4f2d9bb37d3f0f1f5bea03f92233a2a7d4df6eddf231a784087dfac 



  roles:
    - { role: uclalib_role_rhel7repos }
    - { role: uclalib_role_epel }
    - { role: uclalib_role_uclalibrepo }
    - { role: uclalib_role_samvera_basepackages }
    - { role: uclalib_role_java, openjdk_java_version: '1.8.0' }
    - { role: uclalib_role_clamav }
    - { role: uclalib_role_pip }
    - { role: uclalib_role_imagemagick }
    - { role: uclalib_role_libreoffice, libreoffice_version: '6.2.3' }
    - { role: uclalib_role_ffmpeg, ffmpeg_download_url: 'https://www.johnvansickle.com/ffmpeg/old-releases/ffmpeg-4.0.3-64bit-static.tar.xz' }
    - { role: uclalib_role_fits, fits_version: '1.3.0' }
    - { role: uclalib_role_ruby, ruby_version: '2.5.1' }
    - { role: uclalib_role_nodejs, nodejs_version: '8' }
    - { role: uclalib_role_yarn }
    - { role: ossec-server, become: yes }
    - { role: lynis, tags: [lynis], become: yes }
  tasks:
    - name: install extra packages
      yum:
        name: "{{ packages }}"
      vars:
        packages:
          - mysql-devel
          - vim
    - name: set up N8 ssh keys
      authorized_key: >
        user="{{ item.0.system_user }}"
        key="https://github.com/{{ item.1 }}.keys"
      with_subelements:
        - "{{ ssh_users }}"
        - github_users
    - name: disable selinux for now
      shell: 'setenforce 0'
    - name: disable selinux after reboot
      lineinfile:
        path: /etc/selinux/config
        regexp: '^SELINUX='
        line: 'SELINUX=permissive'
